<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Viz Web Portal</h1>
        <form action="/videostream" method="post" target="_self">
            <input type="submit" value="Start">
        </form>
        <form action="/stop" method="post" target="_self" value="Stop">
            <input type="submit" value="Stop">
        </form>
        {% block content %}
        {% endblock %}
        <p>For development purposes.</p>
    </div>
</body>
</html>